@page "/DataDictionary/{group:int}/Create"
@model CreateDataDictionaryItemModel
@{
    Layout = "_Layout";
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a asp-page="/_DataDictionaryGroup" asp-route-group="@Model.DictionaryGroupId" class="govuk-back-link">Back</a>
        </div>
        <div class="govuk-grid-column-one-third pull-right">
        </div>
    </div>
    <div class="text-center">
        <form method="post">
            <input asp-for="DictionaryGroupId" name="DictionaryGroupId" type="hidden">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Create Dictionary Item
                    </h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="item-name">
                        Data Dictionary Item Name
                    </label>
                    <input asp-for="DictionaryItem.Name" class="govuk-input" id="item-name" name="DictionaryItem.Name" type="text">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="legacy-name">
                        Data Dictionary Item Legacy Name
                    </label>
                    <input asp-for="DictionaryItem.LegacyName" class="govuk-input" id="legacy-name" name="DictionaryItem.LegacyName" type="text">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="legacy-name">
                        Type
                    </label>
                    <input asp-for="DictionaryItem.Type" class="govuk-input" id="legacy-name" name="DictionaryItem.Type" type="text">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="legacy-name">
                        Description
                    </label>
                    <textarea asp-for="DictionaryItem.Description" class="govuk-textarea" id="legacy-name" name="DictionaryItem.Description" type="text"></textarea>
                </div>

            </fieldset>
                        <div class="govuk-button-group">
                <input id="update" type="submit" value="Create Item" name="update" class="govuk-button" />
            </div>
        </form>
    </div>
</div>
@await Html.PartialAsync("_Footer");
@section Scripts {

}
