@page "/DataDictionary/{group:int}/Create"
@model CreateDataDictionaryRecordModel
@{
    Layout = "_Layout";
    List<string> types = new List<string>() { "Text", "Multiple Choice", "Numeric", "Link", };
    SelectList selectTypes = new SelectList(types);
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a asp-page="/_DataDictionaryGroup" asp-route-group="@Model.DictionaryGroupId" class="govuk-back-link">Back</a>
        </div>
        <div class="govuk-grid-column-one-third pull-right">
        </div>
    </div>
    <div class="text-center">
        <form method="post">
            <input asp-for="DictionaryGroupId" name="DictionaryGroupId" type="hidden">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Create Dictionary Record
                    </h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="record-name">
                        Data Dictionary Record Name
                    </label>
                    <input asp-for="DictionaryRecord.Name" class="govuk-input" id="record-name" name="DictionaryRecord.Name" type="text">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="legacy-name">
                        Data Dictionary Record Legacy Name
                    </label>
                    <input asp-for="DictionaryRecord.LegacyName" class="govuk-input" id="legacy-name" name="DictionaryRecord.LegacyName" type="text">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="legacy-name">
                        Type
                    </label>
                    <select asp-for="DictionaryRecord.Type" asp-items="@selectTypes" class="govuk-input" name="DictionaryRecord.Type">
                        <option>Please select a data type...</option>
                    </select>
                    <div class="govuk-hint">Type should indicate the type of data that this field will report.</div>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="legacy-name">
                        Description
                    </label>
                    <textarea asp-for="DictionaryRecord.Description" class="govuk-textarea" id="description" name="DictionaryRecord.Description" type="text"></textarea>
                </div>

            </fieldset>
                        <div class="govuk-button-group">
                <input id="update" type="submit" value="Create Record" name="update" class="govuk-button" />
            </div>
        </form>
    </div>
</div>
@await Html.PartialAsync("_Footer");
@section Scripts {

}
