@page "/Error"
@using Elsa.Dashboard.PageModels
@model ErrorModel

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">@Model.ErrorMessage</h1>
                <p class="govuk-body">@Model.AdditionalMessage</p>
                <p class="govuk-body">We saved your answers. They will be available for 30 days.</p>
                @if (Model.SuggestRetry)
                {
                    <p class="govuk-body">
                        Try reloading <a href="/" class="govuk-link">Elsa Dashboard</a>
                    </p>
                }
            </div>
        </div>
    </main>
</div>
