<!-- <single-line-property *ngIf="intellisenseLoaded()"
                      [(activityModel)]="activityModel"
                      [(propertyModel)]="propertyModel"
                      [(propertyDescriptor)]="propertyDescriptor"></single-line-property> -->

<monaco-editor [options]="options" [model]="model" [editorHeight]="'500px'"></monaco-editor>
<div *ngFor="let property of activityProperties">
  <property-renderer [driver]="singleLineDriver" [activity]="activityModel()" [property]="property" [onUpdated]="" [isEncypted]="false"> </property-renderer>
</div>
