@using He.PipelineAssessment.Models
@using He.PipelineAssessment.UI.Authorization
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model He.PipelineAssessment.UI.Features.Assessment.AssessmentSummary.AssessmentSummaryResponse;


<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Permissions</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Email Address</th>
            <th scope="col" class="govuk-table__header">Date Added</th>
            <th scope="col" class="govuk-table__header">Added By</th>
            <th scope="col" class="govuk-table__header"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">

        @{
            bool isAdmin = ((await AuthorizationService.AuthorizeAsync(User, Constants.AuthorizationPolicies.AssignmentToPipelineAdminRoleRequired)).Succeeded);
        }


            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    
                </td>

                <td class="govuk-table__cell">

                </td>

                <td class="govuk-table__cell">

                </td>
            @if (isAdmin || !RoleValidation.IsProjectManagerForAssessment(assessment.ProjectManager))
                {
                    <td class="govuk-table__cell">
                        <input class="govuk-button govuk-button--warning govuk-!-margin-0 govuk-button__pas-assessment-summary" data-module="govuk-button" id="Submit" type="submit" value="Remove" />
                    </td>
                }
            </tr>
    </tbody>
</table>
<input class="govuk-button govuk-!-margin-0 govuk-button__pas-assessment-summary" data-module="govuk-button" id="Submit" type="submit" value="Add New" />

