<div class="elsa-fixed elsa-z-10 elsa-inset-0 elsa-overflow-y-auto">
  <div
    class="elsa-flex elsa-items-end elsa-justify-center elsa-min-h-screen elsa-pt-4 elsa-px-4 elsa-pb-20 elsa-text-center sm:elsa-block sm:elsa-p-0">
    <div #overlay (click)="hide(true)" data-transition-enter="elsa-ease-out elsa-duration-300"
      data-transition-enter-start="elsa-opacity-0" data-transition-enter-end="elsa-opacity-0"
      data-transition-leave="elsa-ease-in elsa-duration-200" data-transition-leave-start="elsa-opacity-0"
      data-transition-leave-end="elsa-opacity-0" class="hidden elsa-fixed elsa-inset-0 elsa-transition-opacity"
      aria-hidden="true">
      <div class="elsa-absolute elsa-inset-0 elsa-bg-gray-500 elsa-opacity-75"></div>
    </div>

    <span class="hidden sm:elsa-inline-block sm:elsa-align-middle sm:elsa-h-screen" aria-hidden="true"></span>
    <div #modal data-transition-enter="elsa-ease-out elsa-duration-300"
      data-transition-enter-start="elsa-opacity-0 elsa-translate-y-4 sm:elsa-translate-y-0 sm:elsa-scale-95"
      data-transition-enter-end="elsa-opacity-0 elsa-translate-y-0 sm:elsa-scale-100"
      data-transition-leave="elsa-ease-in elsa-duration-200"
      data-transition-leave-start="elsa-opacity-0 elsa-translate-y-0 sm:elsa-scale-100"
      data-transition-leave-end="elsa-opacity-0 elsa-translate-y-4 sm:elsa-translate-y-0 sm:elsa-scale-95"
      class="hidden elsa-inline-block sm:elsa-align-top elsa-bg-white elsa-rounded-lg elsa-text-left elsa-overflow-visible elsa-shadow-xl elsa-transform elsa-transition-all sm:elsa-my-8 sm:elsa-align-top sm:elsa-w-full"
      role="dialog" aria-modal="true" aria-labelledby="modal-headline" [style.max-width]="dialogWidth()">
      <div class="modal-content">
        <ng-content></ng-content>
      </div>
      <ng-content select="[buttons]">
      </ng-content>
    </div>
  </div>