@page "/access-denied"
@using Elsa.Dashboard.PageModels
@model AccessDeniedModel

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Access Denied</h1>
                <p class="govuk-body">You do not have permission to access this resource.</p>
               
            </div>
        </div>
    </main>
</div>
