<div #el class="elsa-flex-1 elsa-flex">
  <designer-tree
    *ngIf="this.workflowDesignerMode === this.editWorkflowDesignerMode"
    #designerTree
    [model]="this.workflowModel"
    [mode]="this.workflowDesignerMode"
    [layoutDirection]="this.layoutDirection"
    [activityContextMenuButton]="this.renderActivityContextMenuButton"
    (activityContextMenuButtonTestClicked)="onActivityContextMenuButtonTestClicked($event)"
    [activityContextMenu]="this.activityContextMenuState"
    [enableMultipleConnectionsFromSingleSource]="false"
    [selectedActivityIds]="[this.selectedActivityId]"
    (activityContextMenuButtonClicked)="onActivityContextMenuButtonClicked($event)"
    (activityContextMenuButtonTestClicked)="onActivityContextMenuButtonTestClicked($event)"
    (activitySelected)="onActivitySelected($event)"
    (activityDeselected)="onActivityDeselected($event)"
    (workflowChanged)="onWorkflowChanged($event)"
    class="elsa-flex-1"
  ></designer-tree>
  <designer-tree
    *ngIf="this.workflowDesignerMode !== this.editWorkflowDesignerMode"
    #designerTree
    [model]="this.workflowModel"
    [mode]="this.workflowDesignerMode"
    [layoutDirection]="this.layoutDirection"
    [activityContextMenuButton]="this.renderActivityStatsButton"
    (activityContextMenuButtonTestClicked)="onActivityContextMenuButtonTestClicked($event)"
    [activityContextMenu]="this.activityContextMenuTestState"
    [enableMultipleConnectionsFromSingleSource]="false"
    [selectedActivityIds]="[this.selectedActivityId]"
    (activityContextMenuButtonClicked)="onActivityContextMenuButtonClicked($event)"
    (activityContextMenuButtonTestClicked)="onActivityContextMenuButtonTestClicked($event)"
    (activitySelected)="onActivitySelected($event)"
    (activityDeselected)="onActivityDeselected($event)"
    class="elsa-flex-1"
  ></designer-tree>
  <div
    #activityContextMenu
    *ngIf="activityContextMenuState.shown"
    data-transition-enter="elsa-transition elsa-ease-out elsa-duration-100"
    data-transition-enter-start="elsa-transform elsa-opacity-0 elsa-scale-95"
    data-transition-enter-end="elsa-transform elsa-opacity-100 elsa-scale-100"
    data-transition-leave="elsa-transition elsa-ease-in elsa-duration-75"
    data-transition-leave-start="elsa-transform elsa-opacity-100 elsa-scale-100"
    data-transition-leave-end="elsa-transform elsa-opacity-0 elsa-scale-95"
    class="context-menu elsa-z-20 elsa-mx-3 elsa-w-48 elsa-mt-1 elsa-rounded-md elsa-shadow-lg elsa-fixed"
    [style.left.px]="activityContextMenuState.x"
    [style.top.px]="activityContextMenuState.y"
  >
    <div class="elsa-rounded-md elsa-bg-white elsa-shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="pinned-project-options-menu-0">
      <div class="elsa-py-1">
        <a
          (click)="onEditActivityClick($event)"
          href="#"
          class="elsa-block elsa-px-4 elsa-py-2 elsa-text-sm elsa-leading-5 elsa-text-gray-700 hover:elsa-bg-gray-100 hover:elsa-text-gray-900 focus:elsa-outline-none focus:elsa-bg-gray-100 focus:elsa-text-gray-900"
          role="menuitem"
        >
          Edit
        </a>
      </div>
      <div class="elsa-border-t elsa-border-gray-100"></div>
      <div class="elsa-py-1">
        <a
          (click)="onDeleteActivityClick($event)"
          href="#"
          class="elsa-block elsa-px-4 elsa-py-2 elsa-text-sm elsa-leading-5 elsa-text-gray-700 hover:elsa-bg-gray-100 hover:elsa-text-gray-900 focus:elsa-outline-none focus:elsa-bg-gray-100 focus:elsa-text-gray-900"
          role="menuitem"
        >
          {{selectedActivities.length > 1 && selectedActivities.indexOf(activityContextMenuState.activity.activityId) !== -1 ? 'Delete Selected' : 'Delete'}}
        </a>
      </div>
    </div>
  </div>
  <div
    #activityContextMenu
    *ngIf="!activityContextMenuState.shown"
    data-transition-enter="elsa-transition elsa-ease-out elsa-duration-100"
    data-transition-enter-start="elsa-transform elsa-opacity-0 elsa-scale-95"
    data-transition-enter-end="elsa-transform elsa-opacity-100 elsa-scale-100"
    data-transition-leave="elsa-transition elsa-ease-in elsa-duration-75"
    data-transition-leave-start="elsa-transform elsa-opacity-100 elsa-scale-100"
    data-transition-leave-end="elsa-transform elsa-opacity-0 elsa-scale-95"
    class="context-menu elsa-z-20 elsa-mx-3 elsa-w-48 elsa-mt-1 elsa-rounded-md elsa-shadow-lg elsa-fixed hidden"
    [style.left.px]="activityContextMenuState.x"
    [style.top.px]="activityContextMenuState.y"
  >
    <div class="elsa-rounded-md elsa-bg-white elsa-shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="pinned-project-options-menu-0">
      <div class="elsa-py-1">
        <a
          (click)="onEditActivityClick($event)"
          href="#"
          class="elsa-block elsa-px-4 elsa-py-2 elsa-text-sm elsa-leading-5 elsa-text-gray-700 hover:elsa-bg-gray-100 hover:elsa-text-gray-900 focus:elsa-outline-none focus:elsa-bg-gray-100 focus:elsa-text-gray-900"
          role="menuitem"
        >
          Edit
        </a>
      </div>
      <div class="elsa-border-t elsa-border-gray-100"></div>
      <div class="elsa-py-1">
        <a
          (click)="onDeleteActivityClick($event)"
          href="#"
          class="elsa-block elsa-px-4 elsa-py-2 elsa-text-sm elsa-leading-5 elsa-text-gray-700 hover:elsa-bg-gray-100 hover:elsa-text-gray-900 focus:elsa-outline-none focus:elsa-bg-gray-100 focus:elsa-text-gray-900"
          role="menuitem"
        >
          {{selectedActivities.length > 1 && selectedActivities.indexOf(activityContextMenuState.activity.activityId) !== -1 ? 'Delete Selected' : 'Delete'}}
        </a>
      </div>
    </div>
  </div>

  <button
    (click)="onShowWorkflowSettingsClick()"
    type="button"
    class="workflow-settings-button elsa-fixed elsa-top-20 elsa-right-12 elsa-inline-flex elsa-items-center elsa-p-2 elsa-rounded-full elsa-border elsa-border-transparent elsa-bg-white shadow elsa-text-gray-400 hover:elsa-text-blue-500 focus:elsa-text-blue-500 hover:elsa-ring-2 hover:elsa-ring-offset-2 hover:elsa-ring-blue-500 focus:elsa-outline-none focus:elsa-ring-2 focus:elsa-ring-offset-2 focus:elsa-ring-blue-500"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" class="elsa-h-8 elsa-w-8">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
      />
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
    </svg>
  </button>
</div>
<activity-editor-modal></activity-editor-modal>
