.override-question-guidance {
    margin-top: 5px !important;
    margin-bottom: 0px !important;
}
.govuk-full-width-container {
    max-width: 1800px;
    margin-right: 50px;
    margin-left: 50px;
}
.override-header-select {
    float: left;
}

.float-right {
    float: right;
}

.margin-right-10 {
    margin-right: 10px;
}
