<button
  type="button"
  (click)="toggle()"
  [ngClass]="{ 'elsa-hidden': hidden || expanded }"
  [style.right.px]="16 * (expandButtonPosition - 1) + 12"
  class="workflow-settings-button elsa-fixed elsa-top-20 elsa-inline-flex elsa-items-center elsa-p-2 elsa-rounded-full elsa-border elsa-border-transparent elsa-bg-white shadow elsa-text-gray-400 hover:elsa-text-blue-500 focus:elsa-text-blue-500 hover:elsa-ring-offset-2 hover:elsa-ring-blue-500 focus:elsa-outline-none focus:elsa-ring-offset-2 focus:elsa-ring-blue-500 elsa-z-10"
>
  <svg xmlns="http://www.w3.org/2000/svg" class="elsa-h-8 elsa-w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
  </svg>
</button>
<section
  [ngClass]="{ 'elsa-hidden': hidden || !expanded }"
  class="elsa-fixed elsa-top-4 elsa-right-0 elsa-bottom-0 elsa-overflow-hidden"
  aria-labelledby="slide-over-title"
  role="dialog"
  aria-modal="true"
>
  <div class="elsa-absolute elsa-inset-0 elsa-overflow-hidden">
    <div class="elsa-absolute elsa-inset-0" aria-hidden="true"></div>
    <div class="elsa-fixed elsa-top-20 elsa-inset-y-0 elsa-right-2 elsa-bottom-2 elsa-max-w-full elsa-flex">
      <div
        #el
        data-transition-enter="elsa-transform elsa-transition elsa-ease-in-out elsa-duration-300 sm:elsa-duration-700"
        data-transition-enter-start="elsa-translate-x-full"
        data-transition-enter-end="elsa-translate-x-0"
        data-transition-leave="elsa-transform elsa-transition elsa-ease-in-out elsa-duration-300 sm:elsa-duration-700"
        data-transition-leave-start="elsa-translate-x-0"
        data-transition-leave-end="elsa-translate-x-full"
        class="elsa-w-screen elsa-max-w-lg elsa-h-full"
      >
        <button
          type="button"
          (click)="toggle()"
          [ngClass]="{ 'elsa-hidden': autoExpand }"
          class="workflow-settings-button elsa-absolute elsa-left-2 elsa-inline-flex elsa-items-center elsa-p-2 elsa-rounded-full elsa-border elsa-border-transparent elsa-bg-white shadow elsa-text-gray-400 hover:elsa-text-blue-500 focus:elsa-text-blue-500 hover:elsa-ring-offset-2 hover:elsa-ring-blue-500 focus:elsa-outline-none focus:elsa-ring-offset-2 focus:elsa-ring-blue-500 elsa-z-10"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class="elsa-h-8 elsa-w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
          </svg>
        </button>
        <div class="elsa-h-full elsa-flex elsa-flex-col elsa-py-6 elsa-bg-white elsa-shadow-xl elsa-bg-white">
          <div class="elsa-h-full elsa-mt-8 elsa-p-6 elsa-flex elsa-flex-col">
            <div class="elsa-border-b elsa-border-gray-200">
              <nav class="elsa-flex elsa-space-x-4" aria-label="Tabs">
                <ng-content select="tab-header"></ng-content>
              </nav>
            </div>

            <!-- Tab contents -->
            <div class="elsa-overflow-auto elsa-h-full">
              <ng-content select="tab-content"></ng-content>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
