@*@model string
<br />
<div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
        Comments
    </label>
    @Html.TextAreaFor(m => m,  new {id="more-detail", name="Data.QuestionActivityData.Comments", @class = "govuk-textarea", maxlength=2000 })
</div>*@