@using He.PipelineAssessment.UI.Features.Workflow.ViewModels
@model He.PipelineAssessment.UI.Features.Workflow.ViewModels.Question
@{
    var errorFormClass = !Model.IsValid ? "govuk-form-group--error" : "";
}

<div class="govuk-form-group @errorFormClass">
    @await Html.PartialAsync("_QuestionTitle", Model.Title)

    @await Html.PartialAsync("_QuestionText", Model.QuestionText)
    @await Html.PartialAsync("_QuestionHint", Model.QuestionHint)
    
    @await Html.PartialAsync("_DecimalInput", Model)

    @await Html.PartialAsync("_QuestionGuidance", Model.QuestionGuidance)
    @await Html.PartialAsync("_Comments", new Comment(){Index = Model.Index, CommentText = Model.Comments,DisplayComments = Model.DisplayComments})
</div>