@using Elsa.CustomWorkflow.Sdk
@using He.PipelineAssessment.UI.Features.Workflow.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model He.PipelineAssessment.UI.Features.Workflow.SaveAndContinue.SaveAndContinueCommand
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l">
                @Html.DisplayTextFor(m => m.Data.QuestionActivityData!.Title)
            </h1>
        </legend>
        @if (Model.Data.MultiQuestionActivityData != null)
        {
            @for (int i = 0; i < Model.Data.MultiQuestionActivityData.Count; i++)
            {
                @Html.HiddenFor(m => m.Data.MultiQuestionActivityData![i].QuestionId)


               @* if (Model.Data.QuestionActivityData!.QuestionType == QuestionTypeConstants.TextQuestion)
                {*@
                    @await Html.PartialAsync("_MultiTextQuestion",new MultiText()
                    {
                        Index = i,
                        ActivityType = Model.Data.MultiQuestionActivityData[i].ActivityType,
                        Answer = Model.Data.MultiQuestionActivityData[i].Answer,
                        Comments = Model.Data.MultiQuestionActivityData[i].Comments,
                        DisplayComments = Model.Data.MultiQuestionActivityData[i].DisplayComments,
                        Question = Model.Data.MultiQuestionActivityData[i].Question,
                        QuestionGuidance = Model.Data.MultiQuestionActivityData[i].QuestionGuidance,
                        QuestionHint = Model.Data.MultiQuestionActivityData[i].QuestionHint,
                        QuestionId = Model.Data.MultiQuestionActivityData[i].QuestionId,
                        QuestionType = Model.Data.MultiQuestionActivityData[i].QuestionType,
                        Title = Model.Data.MultiQuestionActivityData[i].Title
                    })

                @*}*@


            }
        }
    </fieldset>

    <input id="Next" type="submit" value="Save and continue" name="Next" class="govuk-button" />
</div>