@model He.PipelineAssessment.UI.Features.Workflow.StartWorkflow.StartWorkflowCommand
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
   
    @using (Html.BeginForm("StartWorkflow", "Workflow", FormMethod.Post))
    {
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">Enter workflow definition ID</label></h1> 
        @Html.TextBoxFor(m => m.WorkflowDefinitionId, new { @class = "govuk-input"})<br />
        <br />
        <input class="govuk-button" data-module="govuk-button" id = "Submit" type = "submit" value = "Submit" />
    }

</div>
