.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

  .accordion > * {
    cursor: auto;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }

.trashcan-icon:hover {
  background-color: #bbb;
  cursor: pointer;
}

.panel {
  padding: 0.5rem 0.75rem;
  display: none;
  background-color: white;
  overflow: hidden;
}

elsa-modal-dialog > div > div > div:first-child {
  pointer-events: none;
}


@media (min-width: 640px) {
  elsa-modal-dialog > div[aria-modal*="true"] {
    max-width: 75%;
  }
}

@media (min-width: 768px) {
  elsa-modal-dialog > div[aria-modal*="true"] {
    max-width: 75%;
  }
}

@media (min-width: 1024px) {
  elsa-modal-dialog > div[aria-modal*="true"] {
    max-width: 75%;
  }
}

@media (min-width: 1280px) {
  elsa-modal-dialog > div[aria-modal*="true"] {
    max-width: 75%;
  }
}

@media (min-width: 1536px) {
  elsa-modal-dialog > div[aria-modal*="true"] {
    max-width: 75%;
  }
}

@media (min-width: 640px) {
  elsa-modal-dialog > div[aria-modal*="true"] {
    max-width: 75%;
  }
}

@media (min-width: 768px) {
  elsa-modal-dialog > div[aria-modal*="true"] {
    max-width: 75%;
  }
}

@media (min-width: 1024px) {
  elsa-modal-dialog > div[aria-modal*="true"] {
    max-width: 75%;
  }
}

@media (min-width: 1280px) {
  elsa-modal-dialog > div[aria-modal*="true"] {
    max-width: 75%;
  }
}

@media (min-width: 1536px) {
  elsa-modal-dialog > div[aria-modal*="true"] {
    max-width: 75%;
  }

  .elsa-justify-content {
      display: flex;
      justify-content: start;
  }

  .elsa-grid-spacing-y {

  }
}
