trigger:
- none
 
pr:
  branches:
    include:
    - main
 
schedules:
- cron: "45 3 * * Mon,Tue,Wed,Thu,Fri"
  displayName: Nightly Test Run
  branches:
    include:
    - main
  always: true
    
parameters:
  - name: forcePushToProd
    displayName: Force Push to Production
    type: boolean
    default: false
 
variables:
  buildMajor: 2
  buildMinor: 0
  buildPatch: 2
  buildBranch: $[replace(replace(variables['Build.SourceBranch'], 'refs/heads/', ''), '/', '.')]
  identifier: elsaserver
 
name: $(buildMajor).$(buildMinor).$(buildPatch)-$(Rev:r)-$(identifier).$(buildBranch)
 
pool:
  vmImage: 'ubuntu-22.04'
 
resources:
  repositories:
  - repository: He.Workflow
    type: git
    name: 'Common Components (Agile Board)/He.Workflow'
  - repository: templates
    type: git
    name: 'Cloud Hosting Service/Templates'   
 
stages:
- template: azure-pipelines-elsaserver-build.yml@He.Workflow
  parameters:
    forcePushToProd: ${{ parameters.forcePushToProd }}
    identifier: $(identifier)