<div>
  <label [for]="fieldId" class="block elsa-text-sm elsa-font-medium elsa-text-gray-700">{{ label }}</label>
  <div class="elsa-mt-1">
    <select
      [id]="fieldId"
      [name]="fieldName"
      [value]="value"
      (change)="onChange($event)"
      class="block focus:elsa-ring-blue-500 focus:elsa-border-blue-500 elsa-w-full elsa-shadow-sm sm:elsa-text-sm elsa-border-gray-300 elsa-rounded-md"
    >
      <option *ngFor="let option of options" [value]="option.value" [selected]="option.value === value">
        {{ option.text }}
      </option>
    </select>
  </div>
  <p *ngIf="hint" class="elsa-mt-2 elsa-text-sm elsa-text-gray-500">{{ hint }}</p>
</div>
