@* @using He.PipelineAssessment.Models
@using He.PipelineAssessment.UI.Features.Funds.FundsList

@model FundsListResponse;

@{
    ViewData["Title"] = "Create Assessment Fund";
    Layout = "_Layout";
}

<div class=" govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @Html.ActionLink("Back", "AssessmentFunds", "Admin", null, new { @class = "govuk-back-link" })
    </div>
</div>
 *@