@using Microsoft.ApplicationInsights.Extensibility.Implementation
@model He.PipelineAssessment.UI.Features.Workflow.ViewModels.Comment
@{
    var itemName = "Data.Questions[" + Model.Index + "].Comments";
}
@if (Model.DisplayComments)
{
    <br />
    <div class="govuk-form-group">
        <label id="Comments" class="govuk-label" for="more-detail">
            Comments
        </label>
        <textarea id="more-detail" name="@itemName" class="govuk-textarea" maxlength=2000 >@Model.CommentText</textarea>
    </div>
}
