@using Microsoft.ApplicationInsights.Extensibility.Implementation
@model He.PipelineAssessment.UI.Features.Workflow.ViewModels.Evidence
@{
    var itemName = "Data.Questions[" + Model.Index + "].DocumentEvidenceLink"; 
}
@if (Model.DisplayEvidenceBox)
{
    <br />
    <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">
            Document Evidence
        </label>
        <textarea id="more-detail" name="@itemName" class="govuk-textarea" maxlength=2000>@Model.DocumentLink</textarea>
    </div>
}
