@model He.PipelineAssessment.UI.Features.Workflow.ViewModels.InformationText

@if(Model.IsParagraph){
    <p>
        @await Html.PartialAsync("_InformationTextElement", Model)
    </p>
}
else{
    @await Html.PartialAsync("_InformationTextElement", Model)
} 