@model He.PipelineAssessment.UI.Features.Workflow.ViewModels.InformationText

@if(Model.IsHyperlink && !string.IsNullOrEmpty(Model.Url)){
    <a class="govuk-body govuk-link" href="@Model.Url" target="_blank">@Model.Text</a>
}
else{
    <span class="govuk-body">@Model.Text</span>
}

