@using He.PipelineAssessment.UI.Features.Workflow.ViewModels
@model He.PipelineAssessment.UI.Features.Workflow.ViewModels.InformationText

@if(Model.IsGuidance){#
<details class="govuk-details" data-module="govuk-details">
    <div class="govuk-details__text">
        @await Html.PartialAsync("_InformationTextElement", Model)
    </div>
</details>
    
}
else if(Model.IsParagraph){
    <p>
        @await Html.PartialAsync("_InformationTextElement", Model)
    </p>
}
else{
    @await Html.PartialAsync("_InformationTextElement", Model)
}