@using Microsoft.ApplicationInsights.Extensibility.Implementation
@model He.PipelineAssessment.UI.Features.Workflow.ViewModels.MultiComment
@{
    var itemName = "Data.MultiQuestionActivityData[" + Model.Index + "].Comments";
}
@if (Model.DisplayComments)
{
    <br />
    <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">
            Comments
        </label>
        <textarea id="more-detail" name="@itemName" class="govuk-textarea" maxlength=2000 > @Model.Comment </textarea>
    </div>
}
