@model He.PipelineAssessment.UI.Features.Workflow.ViewModels.Question

@if (!string.IsNullOrEmpty(Model.QuestionHint))
{
    var hintId = "hint-" + @Model.QuestionHint.Replace(" ", "") + "-" + Model.Index;
    <div id=@hintId class="govuk-hint">
        @Model.QuestionHint
    </div>
}
