@model He.PipelineAssessment.UI.Features.Workflow.ViewModels.PageHeaderInformation
@if (Model.WorkflowName != null )
{
    @* <hr> *@
    <span class="govuk-caption-l">@Model.WorkflowName</span>
    <br />
}