@model He.PipelineAssessment.UI.Features.Workflow.ViewModels.PageHeaderInformation
@if (!String.IsNullOrWhiteSpace(Model.WorkflowName))
{
    <span class="govuk-caption-l">@Model.WorkflowName</span>
    <br />
}
