@model He.PipelineAssessment.UI.Features.Workflow.ViewModels.PageHeaderInformation
@if (Model.Data.ShowAssessmentToolName && (!String.IsNullOrWhiteSpace(Model.AssessmentToolName) && !String.IsNullOrWhiteSpace(Model.AssessmentToolWorkflowName)))
{
    <span class="govuk-caption-l">@Model.WorkflowName</span>
    <br />
}
