<div class="elsa-flex-1 elsa-flex">
      <!-- <elsa-designer-tree
        model={this.workflowModel}
        class="elsa-flex-1"
        ref={el => (this.designer = el)}
        layoutDirection={this.layoutDirection}
        mode={WorkflowDesignerMode.Instance}
        activityContextMenuButton={this.renderActivityStatsButton}
        activityBorderColor={this.getActivityBorderColor}
        activityContextMenu={this.activityContextMenuState}
        selectedActivityIds={[this.selectedActivityId]}
        onActivitySelected={e => this.onActivitySelected(e)}
        onActivityDeselected={e => this.onActivityDeselected(e)}
        onActivityContextMenuButtonClicked={e => this.onActivityContextMenuButtonClicked(e)}
      /> -->
  </div>
