<property-editor
  [(activityModel)]="activityModel"
  [(propertyDescriptor)]="propertyDescriptor"
  [(propertyModel)]="propertyModel"
  (onDefaultSyntaxValueChanged)="onDefaultSyntaxValueChanged($event)"
  [singleLineMode]="true">
  <ng-container *ngIf="useDropdown()">
    <input-tags-dropdown
      [dropdownValues]="getPropertyOptions()"
      [values]="getSelectItems()"
      [fieldId]="fieldId()"
      [fieldName]="fieldName()"
      (valueChanged)="onValueChanged($event)">
    </input-tags-dropdown>
  </ng-container>
  <ng-container *ngIf="!useDropdown()">
    <input-tags
      [values]="getSelectItems()"
      [fieldId]="fieldId()"
      [fieldName]="fieldName()"
      (valueChanged)="onValueChanged($event)">
    </input-tags>
  </ng-container>
</property-editor>
